<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Makeup site</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Courgette&family=Inconsolata&family=Nosifer&family=Permanent+Marker&family=Playpen+Sans&family=Whisper&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Courgette&family=Nosifer&family=Permanent+Marker&family=Playpen+Sans&family=Whisper&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" integrity="sha512-c42qTSw/wPZ3/5LBzD+Bw5f7bSF2oxou6wEb+I/lqeaKV5FDIfMvvRp772y4jcJLKuGUOpbJMdg/BTl50fJYAw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="stylesheets/cursor.css">
  <link rel="stylesheet" href="stylesheets/style.css">
  <link rel="stylesheet" href="stylesheets/nav.css">
  <link rel="stylesheet" href="stylesheets/footer.css">
  <link href="https://cdn.jsdelivr.net/npm/remixicon@3.4.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
  <%-include('./partials/customcursor')%>
  <%-include('./partials/nav')%>
  <div class="div2">
    <div class="inner-div2">
      <h1>Professional <br> makeup artist <br> for events</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi voluptate fugit nostrum suscipit, vero facere necessitatibus, mollitia fugiat nisi quos debitis? Quis minima natus enim doloribus? Labore quaerat ipsum magnam.</p>
      <button class="read">---Read More</button>
    </div>
    <div class="img1box">
      <div class="img1">

      </div>
    </div>
    <div class="img2box">
     <div class="img2">

     </div>

    </div>
  </div>

  <div class="div3">
    <div class="inner-div3">
      <div class="innerone animate_animated animate_lightSpeedInLeft">
        <h1>Professional Makeup ----</h1>
        <p id="quote">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquam ea quam eius aut illo incidunt accusamus quaerat maiores expedita aliquid obcaecati qui distinctio, aperiam nobis, esse, delectus perferendis nulla unde vel magni placeat. Veniam at delectus ullam itaque voluptates pariatur!</p>
      </div>
      <button>
        ---Read More
      </button>
    </div>

    <div class="inner1-div3">
      <div class="img3 images">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.gKZqxZ5vpWFrmkBcAQjRhgHaHs%26pid%3DApi&f=1&ipt=3fbcfc0135eff857f2542aed6f49b7c83c5bbf98f8889c8edb1a9d454bc97c31&ipo=images" alt="">
        <button>Lorem</button>
      </div>
      <div class="img4 images">
        <img src="https://images.unsplash.com/photo-1487412947147-5cebf100ffc2?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8NHx8bWFrZXVwJTIwd29tYW58ZW58MHx8MHx8fDA%3D" alt="">
        <button>Lorem</button>

      </div>
      <div class="img5 images">
        <img src="https://images.unsplash.com/photo-1595848426977-b5df510c4bab?w=800&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bWFrZXVwJTIwd29tYW58ZW58MHx8MHx8fDA%3D" alt="">
        <button>Lorem</button>

      </div>
      <div class="img6 images">
        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.MSrZi2VYY4lNIZBuvP-iTAHaEo%26pid%3DApi&f=1&ipt=0fff240ed02ca4455dce21177104735b896d72d867efa732848aa1338bccaaf2&ipo=images" alt="">
        <button>Lorem</button>

      </div>
    </div>
  </div>

  <div class="div4">
<div class="div4-icons">
  <div class="icon1 icon-div4">
    <img src="images/organic.png" alt="">
    <h5>100% organic</h5>
    <p>Lorem ipsum dolor sit.</p>
  </div>
  <div class="icon2 icon-div4">
    <img src="images/trolley.png" alt="">
    <h5>Free Shopping</h5>
    <p>Lorem ipsum dolor sit.</p>
  </div>
  <div class="icon3 icon-div4">
    <img src="images/badge.png" alt="">
    <h5>Certified</h5>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
  <div class="icon4 icon-div4">
    <img src="images/bonus.png" alt="">
    <h5>Bonus</h5>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>

<div class="div4-sec">
  <div class="div4-one">
<h1>-25%</h1>
<h4>Get your discount <br> for a first visit makeup</h4>
<a href="/signup"><button>--Signup</button></a>

  </div>
  <div class="div4-two">
    <h4>Professional <br> Collections</h4>
    <div class="circle"></div>
    <img src="https://purepng.com/public/uploads/large/purepng.com-lipstickclothinglipstickfashion-objects-girl-makeup-stick-sexy-beauty-accessory-lipstick-lip-lips-cosmetics-631522935839vcyto.png" alt="">
  </div>
</div>
  </div>

  <div class="div5">
<div class="con">
  <div class="box box1 animate__animated animate__hidden">
  
  </div>

  <div class="box box2 animate__animated animate__hidden"></div>
 

  <div class="box box3 animate__animated animate__hidden"></div>
  

</div>

  </div>

  <div class="div6">
    <div class="div6-left">
      <h3>main content</h3>
      <h1>About used cosmetics</h1>
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aperiam veniam a ad eius! Exercitationem necessitatibus expedita amet aut, officia perspiciatis corporis officiis odio iste sit dolorum hic. Odio, aspernatur maiores!</p>

      <div class="div6-icons">
        <div class="icon1">
          <img src="images/organic.png" alt="">
          <h5>100% organic</h5>
        </div>
        <div class="icon2">
          <img src="images/badge.png" alt="">
          <h5>Certified</h5>
        </div>
        <div class="icon3">
          <img src="images/pantone.png" alt="">
          <h5>Wide Range</h5>
        </div>

      </div>
      <button>Read More</button>


    </div>
    <div class="div6-right">
      <div class="div6-cont">
        <div class="div6-img">
          <div class="small-container">
            <a href=""><i class="fa-solid fa-play"></i></a>
            <div class="cont">
              <h4>See Video</h4>
              <h5>Lorem, ipsum dolor.</h5>
            </div>
          </div>
          
        </div>
      </div>
     
    </div>

  </div>


  <div class="div7">
    <h1>Choose Your Makeup</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium quis fugit ab sit omnis sint unde! Iusto eius dolorum velit, doloribus nihil ad sequi nesciunt necessitatibus illum provident quo maxime, suscipit qui quia. Laborum rerum, cum amet aut adipisci similique.</p>
    <div class="cards">
      <div class="card">
        <h4>Daily Lookup</h4>
        <h1>12s</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, corporis.</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <h4>Daily Lookup</h4>
        <h1>12s</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, corporis.</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <h4>Daily Lookup</h4>
        <h1>12s</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, corporis.</p>
        <button>Read More</button>
      </div>
      <div class="card">
        <h4>Daily Lookup</h4>
        <h1>12s</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, corporis.</p>
        <button>Read More</button>
      </div>
    </div>
  </div>

  <div class="div8">
    <h1>Feedback</h1>
    <h2>What our clients say</h2>
    <div class="div8-cont">
      <i class="fa-solid fa-chevron-left" id="prev"></i>
      <div class="div8-box" id="content">
       <p class="cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur ipsa expedita quisquam iste!</p> 
       <p class="cont"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, officia!</p> 
       <p class="cont">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum ipsa labore accusamus facilis aspernatur soluta.</p> 
      </div>
      <i class="fa-solid fa-chevron-right" id="next"></i>
    </div>
  </div>

  <div class="div9">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ffreepngimg.com%2Fthumb%2Fchanel%2F61028-logo-fashion-design-chanel-png-free-photo.png&f=1&nofb=1&ipt=a526f13a4d5faf6344f4a62247d588a034f61739428adc6cb3a748a21544f183&ipo=images" alt="">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.vLWLW5dSN8uPYBbqDPLd8AHaFQ%26pid%3DApi&f=1&ipt=21b0c719455ddfa1db8a93d90f06706ef64ebef9aa0a481bcb0fc5113c9a7e60&ipo=images" alt="">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.pinimg.com%2Foriginals%2F2b%2Fe1%2F1e%2F2be11eefb6e8a9e3387ba97bb6c425b8.png&f=1&nofb=1&ipt=d7a4236e107d663d0d65a4aa072ed13fe398150b973ab750a8e00b66afa5f97a&ipo=images" alt="">
    <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.lmr1sTKrtz4BgNhF91jIBAHaEK%26pid%3DApi&f=1&ipt=63b803b1b6ec5cdf3fb8f13e852a5a5b14fb83b23d6fc18e0c2d049420348677&ipo=images" alt="">
  </div>
  
  <footer>
    <div class="upper">
      <h2>Newsletter</h2>
      <div class="input1">
        <input type="email" placeholder="Enter Your Email">
        <button>Subscribe</button>
      </div>
    </div>
    <div class="lower">
<div class="lower-one">
  <h1>GlamAura</h1>
  <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptates non vero doloremque, aut aliquam corporis?</p>
  <div class="lower-icons">
    <i class="ri-facebook-fill"></i>
  <a href="https://www.instagram.com/_pranjal_shukla_/">
    <i class="ri-instagram-fill"></i>
  </a>  
  <a href="https://twitter.com/Pranjal13365048">
    <i class="ri-twitter-fill"></i>
  </a>
    <i class="ri-youtube-fill"></i>
  </div>
</div>
<div class="lower-two">
  <h3>Explore <span></span></h3>
  <ul>
   <a href="/"><li>Home</li></a> 
    <a href="/about"><li>About</li></a>
    <a href="/contact"><li>Reach out</li></a>
  </ul>
</div>
<div class="lower-three">
  <h3>Contact Us</h3>
  <ul>
    <li>Address: Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</li>
    <li>Phone: +234 000 000 0000</li>
    <li>Email:pranjalshukla245@gmail.com</li>
  </ul>
</div>
    </div>
  </footer>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js" integrity="sha512-16esztaSRplJROstbIIdwX3N97V1+pZvV33ABoG1H2OyTttBxEGkTsoIVsiP1iaTtM8b3+hu2kB6pQ4Clr5yug==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js"></script>
  <script src="javascripts/cursor.js"></script>
  <script src="javascripts/script.js"></script>

</body>
</html>