body {
    font-family: 'Arial', sans-serif;
    background-color: #fbe5ed; /* Soft pink background color */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    color: #333;
  }
  
  h1 {
    margin-top: 30px;
    color: #ff69b4; /* Pink color for emphasis */
  }
  .buttons{
    display: flex;
    justify-content: space-evenly;
  }
  .card {
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 20px;
    padding: 20px;
    width: 300px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  strong {
    color: #ff69b4; /* Pink color for emphasis */
  }
  
  img {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .buttons {
    margin-top: 15px;
  }
  
  a {
    text-decoration: none;
  }
  
  button {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 10px;
    background-color: #ff69b4; /* Pink color for buttons */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #d84597; /* Lighter pink on hover */
  }
  